#musics-menu {
    width: 100%;
    padding-top: 0.416666rem;
    background: #f2f4f5;
    ul {
        width: 100%;
        height: 2.388888rem;
        display: flex;
        justify-content: flex-start;
        margin: 0;
        border-bottom: 0.018518rem solid #e7e9e9;
        li {
            width: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
            div {
                width: 1.277777rem;
                height: 1.277777rem;
                line-height: 1.277777rem;
                border-radius: 50%;
                border:0.027777rem solid #d33a31 ;
                text-align: center;
                i {
                    @include fontSize(60); 
                    margin-left: 0.092592rem;  
                    color: #d33a31;
                    &.last {
                        margin-top: -0.092592rem;
                    }
                }
            }
            span {
                margin-top: 0.231481rem;
                @include fontSize(26); 
            }
        }    
    }
}
