#comment-body {
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img {
        width: 1.944444rem;
        height: 1.944444rem;
        margin: 0 0.277777rem;
    }
    .msg {
        width: 6.722222rem;
        height: 1.944444rem;
        p {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap; 
        }
        p:first-child {
            margin: 0.185185rem 0 0 0 ;
            width: 6.5rem;
            height: 0.981481rem;
            line-height: 0.981481rem;
            @include fontSize(32);
        }
        p:last-child {
            margin: 0 ;
            width: 6.5rem;
            height: 0.37037rem;
            line-height: 0.37037rem;
            @include fontSize(26);
            color: #666;
        }
    }
    .to {
        width: 0.777777rem;
        height: 1.944444rem;
        line-height:1.944444rem;
        text-align: center;
        i {
            @include fontSize(40);
            color: #aaabac;
        }
    }
}
