#search-single {
    width: 100%;
    background: #f2f4f5;
    .best-search {
        margin: 0.194444rem 0 0 0 ;
        padding-left: 0.166666rem;
        .best {
            height: 0.805555rem;
            line-height: 0.805555rem;
            text-align: left;
            margin: 0;
        }
        ul {
            width: 100%;
            margin: 0;
            background: #f2f4f5;
            li {
                width: 100%;
                border-bottom: 0.018518rem solid #e7e9e9;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                div {
                    width: 7.962962rem;
                    text-indent: 0.296296rem;
                    @include fontSize(32);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            .best-singer {
                height: 1.629629rem;
                img {
                    width: 1.5rem;
                    height: 1.5rem;
                }
                div {
                    height: 100%;
                    line-height: 1.629629rem;
                }
            }
            .best-user {
                height: 1.925925rem;
                img {
                    width: 1.444444rem;
                    height: 1.444444rem;
                    border-radius: 50%;
                }
            }
            .best-album {
                img:first-child {
                    width: 1.527777rem;
                    height: 1.5rem;               
                }
                .album {
                    width: 0.277777rem;
                    height: 1.5rem;
                }
                .music-mg {
                    width: 7.777777rem;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    height: 1.648148rem;
                    p {
                        width: 100%;
                        text-align: left;
                        margin:0;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;  
                    }
                    p:first-child {
                        margin-top:0.325185rem;
                        line-height: 0.611111rem;
                        @include fontSize(34);
                    }
                    p:last-child {
                        line-height: 0.5rem;
                        @include fontSize(24);
                        color: #797a7b;
                    }
                }
            }
            .best-mv {
                img {
                    width: 2.444444rem;
                    height:1.518518rem;                       
                }    
                .music-ms {
                    width: 100%;
                    height: 1.981481rem;
                    p {
                        width: 6.296296rem;
                        text-align: left;
                        margin: 0;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        position: relative;
                    }
                    p:first-child {
                        margin-top:0.485185rem;
                        height: 0.611111rem;
                        line-height: 0.611111rem;
                        @include fontSize(34);
                        display: flex;
                        align-items: center;
                        i {
                            @include fontSize(50);
                            color: #d33a31;
                            margin-right: 0.111111rem;
                        } 
                    }
                    p:last-child {
                        line-height: 0.5rem;
                        @include fontSize(24);
                        color: #797a7b;
                        span {
                            margin-left: 0.111111rem;
                        }
                    }
                }
            }
        }
        
    }
    .list {
        width: 100%;
        padding-left: 0.166666rem;
        margin-bottom: 1.333333rem;
        li {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 1.5rem;
            border-bottom: 0.018518rem solid #e7e9e9;
            .playnow {
                width: 0.481481rem;
                height: 0.925925rem;
                line-height: 0.925925rem;
                text-align: center;
                margin-right: 0.444444rem;
                i {
                    @include fontSize(32);
                    color: #d33a31; 
                }
            }
            .music-msg {
                width: 8.796296rem;
                display: flex;
                align-items: center;
                flex-direction: column;
                height: 1.018518rem;
                p {
                    width: 100%;
                    text-align: left;
                    margin: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                p:first-child {
                    line-height: 0.611111rem;
                    @include fontSize(30);
                }
                p:last-child {
                    line-height: 0.5rem;
                    @include fontSize(24);
                    color: #797a7b;
                }
            }
            .lists {
                height: 0.833333rem;
                line-height: 0.833333rem;
                text-align: center;
                i {
                    @include fontSize(48);
                    color: #aaabac;
                }
            }
        }
    }
}
