#player-body {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 1.453703rem;
    .bg {
        width: 200%;
        height: 200%;
        position: absolute;
        left: -80%;
        top: -60%;
        filter: blur(50px);
        z-index: -1;
        background-size: cover;
        background-position: 30%;
        background: black;
    }
    .volume-lyric {
        height: 10.888888rem;
        .content {
            width: 100%;
            height: 100%;
            position: relative;
            .volume {
                width: 100%;
                height: 10.888888rem;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 1;
                .volume-top {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    height: 0.518518rem;
                    div:nth-child(1) {
                        width: 1.481481rem;
                        i {
                            margin: 0 0.49074rem 0 0.638888rem;
                            color: #bcbbbb;
                            @include fontSize(32);
                        }
                    }
                    div:nth-child(2) {
                        width: 7.592592rem;
                        height: 0.222222rem;
                        position: relative;
                        .progressbg {
                            position: absolute;
                            width: 100%;
                            height: 0.055555rem;
                            left: 0;
                            top: 0.083333rem;
                            background: #6f6f6e;
                            z-index: 1;
                        }
                        .speed {
                            position: absolute;
                            width: 0;
                            height: 0.055555rem;
                            left: 0;
                            top: 0.083333rem;
                            background-color: #abb5bc;
                            z-index: 2;
                        }
                        .drag{
                            position: absolute;
                            width: 0.222222rem;
                            height: 0.222222rem;
                            background: #f5f5f7;
                            left: -0.111111rem;
                            top: 0;
                            z-index: 3;
                            border-radius: 50%;
                            background-color: #f3f3f4;
                        }
                    }
                }
                .volume-bottom {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    overflow: hidden;
                    ul {
                        width: 100%;
                        position: absolute;
                        left: 0;
                        top: 4.629629rem;
                        margin: 0;
                        transition: .8s;
                        li {
                            width: 100%;
                            padding: 0 10%;
                            text-align: center;
                            line-height:0.509259rem;
                            color: #8d9497;
                            @include fontSize(32);
                            margin-bottom: 0.518518rem;
                            text-shadow:0 0.018518rem 0.027777rem #330106;
                            &.active {
                                color: #fff;
                            }
                        }
                    }
                }
            }
            .lyric {
                width: 100%;
                height: 10.888888rem;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 2;
                box-sizing: border-box;
                border-top: 1px solid red;
                //图片背景渐变
                border-image: linear-gradient(to left,rgba(255,255,255,0) 0,rgba(153,153,153,0.3) 50% ,rgba(255,255,255,0) 100%) 30 30 stretch;
                .needlebox {
                    text-align: center;
                    position: relative;
                    .yuan {
                        width: 0.703703rem;
                        height: 0.361111rem;
                        position: absolute;
                        left: 50%;
                        top: -0.018518rem;
                        margin-left: -0.347222rem;
                        z-index: 6;
                        transition:.5s ;
                    }
                    .needle {
                        width: 3.185185rem;
                        height: 2.203703rem;
                        position: absolute;
                        left: 49%;
                        top: -0.018518rem;
                        z-index: 5;
                        transition:.5s ;
                        transform:rotate(24deg);
                        transform-origin: 0 0;
                    }
                }
                .record-box {
                    width: 100%;
                    height: 9.259259rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    div {
                        margin-top: 1.759259rem;
                        width: 7.287037rem;
                        height: 7.287037rem;
                        position: relative;
                        .record {
                            position: absolute;
                            width: 7.287037rem;
                            height: 7.287037rem;
                            border-radius: 50%;
                            border: 0.111111rem solid rgba(0,0,0, 0.2);
                            left: 0;
                            top: 0;
                            z-index: 3;
                            animation: loading  50s linear infinite  ;
                            @keyframes loading {
                                0% {
                                    transform: rotate(0deg);
                                }
                                50% {
                                    transform: rotate(180deg);
                                }
                                100% {
                                    transform: rotate(360deg);
                                }
                            }
                        }
                        .albumbg {
                            position: absolute;
                            width: 5.092592rem;
                            height: 5.092592rem;
                            left: 1.175925rem;
                            top: 1.105925rem;
                            border-radius: 50%;
                            z-index: 2;
                            animation: loading  50s linear infinite  ;
                            @keyframes loading {
                                0% {
                                    transform: rotate(0deg);
                                }
                                50% {
                                    transform: rotate(180deg);
                                }
                                100% {
                                    transform: rotate(360deg);
                                }
                            }
                        } 
                    }
                    
                }
                .menu {
                    margin-top: 0.574074rem;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    ul {
                        margin: 0;
                        display: flex;
                        justify-content: flex-start;
                        li {
                            width: 1.981481rem;
                            height: 1.037037rem;
                            line-height: 1.037037rem;
                            text-align: center;
                            i {
                                color: #d1ccc7;
                                @include fontSize(44);
                            }
                        }
                        li:nth-child(1) {
                            i {
                                &.like {
                                    color: #ff3838!important;
                                }
                                &.notLike {
                                    color: #a69f96!important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .handle-play {
        width: 100%;
        height: 4.689814rem;
        .volume {
            width: 100%;
            height: 1.388888rem;
            display: flex;
            justify-content: center;
            align-items: center;
            div:nth-child(1), div:nth-child(3){
               width: 1.111111rem;
               text-align: center;
               line-height: 1.388888rem;
               @include fontSize(20);
               color: #bfbdbb;
               position: relative;
               z-index: 4;
            }
            div:nth-child(2) {
                width: 7.314814rem;
                height: 0.388888rem;
                position: relative;
                z-index: 4;
                .progressbg {
                    position: absolute;
                    width: 100%;
                    height: 0.055555rem;
                    left: 0;
                    top: 0.166666rem;
                    background: #6f6f6e;
                    z-index: 1;
                }
                .speed {
                    position: absolute;
                    width: 0;
                    height: 0.055555rem;
                    left: 0;
                    top: 0.166666rem;
                    background-color: #d33a31;
                    z-index: 2;
                }
                .drag{
                    position: absolute;
                    width: 0.388888rem;
                    height: 0.388888rem;
                    background: #f5f5f7;
                    left: -0.194444rem;
                    top: 0;
                    z-index: 5;
                    border-radius: 50%;
                }
            }
        }
        .play {
            width: 100%;
            height: 1.462962rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 0.37037rem;
            .mode {
                width: 1.092592rem;
                height: 1.462962rem;
                line-height: 1.462962rem;
                text-align: center;
                display: flex;
                align-items: center;
                i {
                    color: #a69f96;
                    @include fontSize(80);
                }
            }
            .modes {
                width: 1.092592rem;
                height: 1.462962rem;
                line-height: 1.462962rem;
                text-align: center;
                i {
                    color: #a69f96;
                    @include fontSize(70);
                }
            }
            ul {
                margin: 0 0.601851rem;
                display: flex;
                justify-content: flex-start;
                li {
                    width: 1.814814rem;
                    height: 1.462962rem;
                    line-height: 1.462962rem;
                    text-align: center;
                    i {
                        color: #a69f96;
                        @include fontSize(50);
                        
                    }
                }
                li:nth-child(2) {
                    width: 2.5rem;
                    height: 1.462962rem;
                    i {
                        color: #a69f96;
                        @include fontSize(90);
                    }
                }
                
            }
        }
    }
    
    .opacity-enter-active{
      transition: opacity .5s ;
    }
    
    .opacity-enter, .opacity-leave-to  {
      opacity: 0;
    }
}
