#user-header {
    width: 100%;
    height: 1.453703rem;
    background-color: rgba(0,0,0,0);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    z-index: 99;
    .back {
        width: 1.537037rem;
        height: 1.453703rem;
        line-height:1.453703rem;
        text-align: center; 
        margin-right: 0.037037rem;        
        i {
           @include fontSize(34);
        }
    }
    .tap {
        width: 100%;
        height: 1.453703rem;
        line-height:1.453703rem;
        @include fontSize(34);
    }
}